@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');


body{
    background-color: #5fad56;
    font-family: 'DotGothic16', sans-serif;
}

header {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    font-size: x-small;
    background-color: #4D9078;
    justify-content: center;
    width: 100%;
}

p {
    margin: 2px;
    font-weight: bold;
    margin: auto;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.1rem;
    justify-content: center;
    background-color: #4D9078;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
}

div {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.render-cards {
    display: flex;
    flex-direction: row;
}

#table-section {
    /* display: flex;
    justify-content: flex-start; */
    /* transform: scale3d(1.2, 1.2, 1.2); */
    /* margin: 20px; */
    /* width: 452px; */
 }

.tableCss {
    width: 80px;
}

img {
    width: 60px;
}

.hidden {
    display: flex;
    justify-content: flex-start;
    width: 452px;
    display: none;
}

.unHidden {
    display: flex;
    justify-content: flex-start;
     width: 452px;
}

#face-down > img {
    margin: 6px;
}