@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');

    body{
        background-color: #5fad56;
        font-family: 'DotGothic16', sans-serif;
        /* background-image: url(../assets/pokertable.png); */
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
    }

    header {
        font-family: 'Press Start 2P', cursive;
        display: flex;
        font-size: x-small;
        background-color: #4D9078;
        justify-content: center;
        width: 100%;
        height: 3.8rem;
        align-items: stretch;
    }
    
    p {
        margin: 2px;
        font-weight: bold;
        margin: auto;
    }
    
    footer {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3.8rem;
        justify-content: center;
        background-color: #4D9078;
        font-family: 'Press Start 2P', cursive;
    }
    
    #player-stats {
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #player-stats span {
        width: 100px;
    }

    .render-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .render-two {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 40px;
    }
    
    .tableCss {
        width: 50px;
    }
    
    img {
        width: 40px;
        padding: 5px;
        position: relative;
    }

    div {
        margin: 5px;
    }
    
    .hidden {
        display: flex;
        justify-content: flex-start;
        width: 452px;
        display: none;
    }
    
    .unHidden {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    #face-down > img {
        margin: 6px;
    }
    
    #face-down {
        margin-left: 40px;
    }

    a {
        font-size: x-large;
        display: flex;
        align-items: center;
    }
    main{
    background-image: url(../assets/pokertable.png);
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 800px;
        border: solid brown 5px;
    
    }
    section{
        width:400px;
        position: relative;
        
    }
    #bet-form{
        height: 2rem;
        display: flex;
        flex-direction: column;
        width: min-content;
        
    }
    #bet-input{
        margin-bottom: 10px;
        width: 115x
    }

    #deal-button{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 10px;
    }
    #table-section{
        height: 100px;
    }
    #results-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }